html, body, div, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, ul, li, fieldset, form, label, input, legend, table, caption, tbody, tfoot, thead, tr, th, td, textarea, article, aside, audio, canvas, figure, footer, header, mark, menu, nav, section, time, video {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal
}

article, aside, dialog, figure, footer, header, hgroup, nav, section, blockquote {
  display: block;
}

ul, ol {
  list-style: none;
}

img {
  border: 0 none;
  vertical-align: top;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: none;
}

/*table {*/
  /*border-collapse: collapse;*/
  /*border-spacing: 0;*/
/*}*/

strong, em, i {
  font-style: normal;
  font-weight: normal;
}

ins {
  text-decoration: underline;
}

del {
  text-decoration: line-through;
}

mark {
  background: none;
}
input::-ms-clear {
  display: none !important;
}
html{
    height:100%;
}
body {
    width: 100vw;
    min-width:1280px;
    height: 100vh;
    min-height: 950px;
    overflow-x: hidden;
    font: 12px/1.5 \5FAE\8F6F\96C5\9ED1, \5B8B\4F53, "Hiragino Sans GB", STHeiti, "WenQuanYi Micro Hei", "Droid Sans Fallback", SimSun, sans-serif;
    background: #fff;
}
body:hover::-webkit-scrollbar-thumb{
    background:rgba(7,100,180,1)
}
a {
  text-decoration: none;
  color: #333;
}

a:hover {
  text-decoration: underline;
}

.fl {
  float: left !important;
}

.fr {
  float: right !important;
}

.tl {
  text-align: left !important;
}

.tr {
  text-align: right !important;
}

.tc {
  text-align: center !important;
}

.clearfix:before, .clearfix:after {
  display: table;
  content: " ";
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

/*搜索页下拉框样式*/
/*.search-wrap .el-select .el-input{*/
    /*width: 100px;*/
/*}*/
/*.search-wrap .el-select .el-input__inner{*/
    /*background: rgba(4,57,106,.7);*/
    /*color: #fff;*/
    /*border: 1px solid #025db1;*/
    /*border-radius: 0;*/
    /*!*background: rgba(2,75,137,.8);*!*/
/*}*/
/*.search-wrap .el-select .el-input__icon{*/
    /*box-sizing: border-box;*/
    /*color: #fff;*/
    /*background: linear-gradient( to bottom ,#0172cb,#0395cc);*/
    /*border: 1px solid #00cbff;*/
/*}*/
/*.search.el-select-dropdown{*/
    /*border: 1px solid #025db1;*/
/*}*/
/*.search .el-scrollbar{*/
    /*background: rgba(5,52,108,1);*/
/*}*/
/*.search .el-select-dropdown__item{*/
    /*color: #fff;*/
/*}*/
/*.search .el-select-dropdown__item.hover {*/
    /*background: #044b80;*/
/*}*/

/*.condition-con.multi-con{*/
    /*display: flex;*/
    /*justify-content: flex-start;*/
    /*align-items: flex-start;*/
    /*flex-wrap: wrap;*/
    /*align-content: space-between;*/
/*}*/

/*搜索页面下拉框 样式*/
.high-search-wrap .multi-con .el-input{
    box-sizing: border-box;
    width: 240px;
}
.high-search-wrap .multi-con .el-input__inner{
    color: #fff;
    border: 1px solid #025db1;
    border-radius: 0;
    background: rgba(2,75,137,.8);
    background: url("../../../static/img/box-icon.png") no-repeat top right;
    background-size:35px 100%;
}
.high-search-wrap .multi-con .el-input__icon{
    box-sizing: border-box;
    color: #fff;
}
.search-wrap .el-input{
    width: 100px;
}
.high-search-wrap  .time-select .el-input{
    box-sizing: border-box;
    width: 105px;
}
/*.condition-item .el-input__inner,*/
.search-wrap .el-input__inner,
.high-search-wrap .time-select .el-input__inner{
    color: #fff;
    border: 1px solid #025db1;
    border-radius: 0;
    background: rgba(2,75,137,.8);
}
.search-wrap .el-input__inner{
    color: #fff;
    border: 1px solid #025db1;
    border-radius: 0;
    background: rgba(2,75,137,.8);
    background: url("../../../static/img/box-icon.png") no-repeat top right;
    background-size:35px 100%;
}
.high-search-wrap .time-select .el-input__inner{
    /*height: 30px;*/
    cursor: pointer;
}
.search-wrap .el-input__icon,
.high-search-wrap .time-select .el-input__icon{
    cursor: pointer;
    box-sizing: border-box;
    color: #fff;
}
.high-search-wrap .time-select .el-input__icon{
    background: linear-gradient( to bottom ,#0395cc,#0172cb);
}
.search.el-select-dropdown,
.multiselect.el-select-dropdown{
    border: none;
}
.search .el-scrollbar,
.multiselect .el-scrollbar{
    background: #0264b0;
}
.search .el-scrollbar li,
.multiselect .el-scrollbar li{
    border-bottom: 1px solid #017dc1;
}
.search .el-scrollbar li.selected,
.multiselect .el-scrollbar li.selected{
    background-color: #0264b0 !important;
    color: #fff !important;
}.multiselect .el-scrollbar li.selected{
     background-color: #0264b0 !important;
     color: #fff !important;
 }
.search .el-select-dropdown__item,
.multiselect .el-select-dropdown__item{
    color: #fff;
}
.search .el-select-dropdown__item.hover,
.multiselect .el-select-dropdown__item.hover {
    background: #04599c;
}


/*常用条件下拉框样式*/
.label-line .el-select{
    position: absolute;
    right: 0;
    width: 100px;
}
.label-line .el-input__inner{
    background: transparent;
    color: transparent;
    border: none;
}
.label-line .el-input__icon{
    color: #fff !important;
}
.saved .el-select-dropdown__empty{
    display: none;
}


/*上市公司信息--财务分析--下拉框 样式*/
.listedComponeySelect2{
    float: right;
}
.listedComponeySelect .el-input{
    width: 198px;
    outline:none;
}
.listedComponeySelect .el-select .el-input__inner:focus {
    border-color:rgba(29,70,138,0.75);
}
.listedComponeySelect .el-select .el-input .el-input__icon {
    box-sizing: border-box;
    color: #fff;
}
.listedComponeySelect .el-input__inner {
    background-color: rgba(40,92,198,0.35);
    border-radius: 0px;
    border: 1px solid rgba(29,70,138,0.75) !important;
    color: #fff;
    height: 28px;
}
.listedSelect.el-select-dropdown{
    width:198px;
    top:422px;
    border:1px solid rgba(29,70,138,0.95) !important;
}
.listedSelect .el-select-dropdown.is-multiple .el-select-dropdown__item.selected.hover,
.listedSelect .el-select-dropdown__item.hover,
.listedSelect .el-select-dropdown__item:hover {
    background-color:rgba(36,85,180,0.95);
    color:#fff;
}
.listedSelect .el-select-dropdown__item.selected {
    color: #fff;
    background-color:rgba(36,85,180,0.95);
}
.listedSelect .el-select-dropdown__wrap,.listedSelect .el-scrollbar__wrap{
    background-color: rgba(26,56,115,0.95);
    border:1px solid rgba(29,70,138,0.75) !important;
    color:#Fff;
    width:200px;
}
.listedSelect .el-select-dropdown__item{
    color:#Fff;
    padding: 4px 10px;
    height: 30px;
    line-height: 1;
    border-bottom:1px solid rgba(29,70,138,0.75) !important;
}
.listedSelect .el-select-dropdown__list{
    padding:0 0;
}


/*发现关系选择框样式*/
.high-search-wrap .find-con .el-input__inner{
    box-sizing: border-box;
    padding-left: 10px;
    width: 240px;
    height: 30px;
    color: #fff;
    font-size: 12px;
    border: 1px solid #0166c0;
    background: rgba(2,75,137,.8);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.find-relation.el-select-dropdown {
    height: 270px !important;
    top: 531px !important;
}
.find-relation.el-select-dropdown{
    border: none;
    background: #0264b0;
}
.find-relation .el-scrollbar li{
    border-bottom: 1px solid #017dc1;
}
.find-relation .el-scrollbar li.selected{
    background-color: #0264b0 !important;
    color: #fff !important;
}
.find-relation .el-select-dropdown__item{
    color: #fff;
}
.find-relation .el-select-dropdown__item.hover {
    background: #04599c;
}
.find-relation .el-select-dropdown__empty{
    color: #fff;
}


/*弹出对话框样式*/
.el-dialog__wrapper{
    height: 100vh;
    overflow: hidden;
    background: rgba(19,21,32,.9);
}
.el-dialog{
    width: 717px;
    top: calc((100% - 750px)/2) !important;
    background: url("../../../static/img/popup-bg.png") center no-repeat;
    background-size: 100% 100%;
    box-shadow: none !important;
    border-radius: 0;
    box-sizing: border-box;
}
.el-dialog__body {
    padding: 40px 45px 30px 40px;
}
.el-dialog__headerbtn .el-dialog__close{
    position: absolute;
    top: 8px;
    right: 8px;
    width: 44px;
    height: 44px;
    background: url("../../../static/img/close-icon.png") center no-repeat;
    transition: all .3s;
}
.el-dialog__headerbtn .el-dialog__close:hover{
    background: url("../../../static/img/close-icon-hover.png") center no-repeat;
}
.el-dialog__headerbtn .el-dialog__close::before{
    content: '';
}
.el-dialog .title{
    margin-bottom: 20px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 18px;
    background: url("../../../static/img/popup-title-bg.png") center no-repeat;
    background-size: 100% 100%;
}

/*高级搜索对话框样式*/
.select-dialog.el-dialog{
    top: 173px !important;
    width: 780px;
    border: 1px solid #00efff;
    background: rgba(3,79,145,.9);
}
.select-dialog .el-dialog__body{
    box-sizing: border-box;
    /*height: 396px;*/
    height: 465px;
    padding: 20px 26px 13px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}
.select-dialog .el-dialog__header{
    padding-top: 0;
    background: linear-gradient( to bottom,#019ed7 , #0179d7);
    border-bottom: 1px solid #009eff;
}
.select-dialog .el-dialog__close{
    top: 14px;
    right: 20px;
    display: inline-block;
    width: 12px;
    height: 12px;
    color: #fff;
    font-size: 12px;
    background: none !important;
}
.select-dialog .el-dialog__close:hover{
    /*color: #fff;*/
    color: rgb(255, 204, 0);
}
.select-dialog .el-dialog__close::before{
    content: "\E60C";
}

/*高级搜索多选下拉自定义区样式*/
.multiselect .custom-wrap{
    box-sizing: border-box;
    height: 45px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.multiselect .custom-input{
    box-sizing: border-box;
    padding-left: 10px;
    width: 100px;
    height: 30px;
    color: #fff;
    font-size: 12px;
    border: 1px solid #017dc1;
    background: rgba(2,75,137,.5);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 5px;
}
.multiselect .custom-span{
    color: #fff;
}
.multiselect .confirmSecelt{
    box-sizing: border-box;
    cursor: pointer;
    width: 100%;
    height: 30px;
    color: #fff;
    font-size: 12px;
    border: 1px solid #00cbff;
    border-image: linear-gradient( #00cbff , #008cff) 1 1;
    background: linear-gradient(to bottom, #0199d1, #0172d2);
    display: flex;
    justify-content: center;
    align-items: center;
}
.multiselect .confirmSecelt:hover{
    background: linear-gradient(to bottom, #179fd0, #1c7fcf);
}
.multi-con .el-tag--primary{
    color: #fff !important;
}

/*保存检索条件message弹框样式*/
.save-box{
    width: 370px;
    border: 1px solid #00efff;
    background: rgba(3,79,145,.9);
}
.save-box .el-message-box__header{
    box-sizing: border-box;
    height: 38px;
    padding-top: 0;
    background: linear-gradient( to bottom,#019ed7 , #0179d7);
    border-bottom: 1px solid #009eff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.save-box  .el-message-box__title{
    color: #fff;
    font-size: 14px;
    font-weight: normal;
}
.save-box  .el-message-box__headerbtn{
    top: 11px;
}
.save-box .el-message-box__headerbtn .el-message-box__close{
    color: #fff;
    font-size: 12px;
}
.save-box .el-message-box__headerbtn .el-message-box__close:hover{
    color: rgb(255, 204, 0)
}
.save-box .el-message-box__content{
    padding: 20px;
}
.save-box .el-message-box__message p{
    color: #fff;
}
.save-box .tip-confirm{
    padding-top: 0;
    width: 80px;
    height: 30px;
    line-height: 28px;
    color: #fff;
    font-size: 16px;
    border: 1px solid #ffab28;
    border-radius: 3px;
    background: linear-gradient(to bottom, #a79d55,#a78c44);
}
.save-box .tip-confirm:hover{
    background: linear-gradient(to bottom, #a29012,#a8862a);
}
.save-box .cansole-box{
    padding-top: 0;
    width: 80px;
    height: 30px;
    line-height: 28px;
    color: #fff;
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid #0193d1;
    background: linear-gradient(to bottom, #025aa7,#0262a8);
}
.save-box .cansole-box:hover{
    background: linear-gradient(to bottom, #055297,#065691);
}

/*滚动条样式*/
::-webkit-scrollbar{width:6px}
::-webkit-scrollbar-thumb{ background:rgba(7,100,180,0); border-radius: 3px;}

/**/
.el-dialog-historyShares.el-dialog{
    width:1200px;
}
.el-dialog-historyShares.el-dialog .el-dialog__body{
    padding:40px 75px 45px 60px;
}

/*修改el组件 分页样式*/
.el-pagination {
    float: right;
    white-space: nowrap;
    padding: 2px 5px;
    color: #fff;
}
.el-pager {
    margin-top: 2px;
}
.el-pager li {
    color: #fff;
    background:none;
    text-decoration: underline;
    padding: 0 4px;
    border-right: 0;
    font-size: 13px;
    min-width: 22px;
    height: 22px;
    line-height: 18px;
    text-align: center;
}
.el-pager li.active {
    background-color: rgba(0,150,255,0.55)  !important;
    border-radius:50%;
    color: #fff;
    cursor: default;
}
.el-pager li:last-child {
    border-right: 1px solid transparent;
}
.el-pagination button.disabled {
    color: #e4e4e4;
    background-color: transparent;
    cursor: not-allowed;
}
.el-autocomplete-suggestion__wrap, .el-pager li {
    border: 1px solid transparent;
    box-sizing: border-box;
}
.el-pagination .btn-next, .el-pagination .btn-prev {
    background: center center no-repeat transparent;
    background-size: 16px;
    border: 1px solid transparent;
    cursor: pointer;
    margin: 0;
    color: #97a8be;
}
.el-pagination__editor {
    /*border: 1px solid transparent !important;*/
    border: 1px solid rgba(0,150,255,0.55);
    background:transparent;
    border-radius: 2px;
    line-height: 18px;
    height:24px;
    width: 30px;
    text-align: center;
    margin: 0 6px;
    box-sizing: border-box;
    transition: border .3s;
    color:#Fff;
}
.el-pager li.btn-quicknext, .el-pager li.btn-quickprev {
    line-height: 22px;
    color: #97a8be;
}
.el-pagination button, .el-pagination span {
    cursor: pointer;
}

/*常用条件列表样式*/
.saved .tip-msg{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.saved .tip-label{
    color: #fff;
    font-size: 12px;
}
.saved .el-tooltip.hover .tip-label{
    color: #ffcc00;
}

/*常用条件列表tooltip组件样式*/
.condition-tip.is-light{
    box-sizing: border-box;
    width: 264px;
    padding: 14px;
    border: none;
    border-radius: 0;
    background: #0474cd;
}
.condition-tip .tip-content{
    color: #fff;
    font-size: 12px;
    text-align: left;
    margin-top: 15px;
    cursor: default;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.condition-tip .tip-content:first-child{
    margin-top: 0;
}

/*选择日期组件样式*/
.date-picker{
    background: #0264b0;
}
.date-picker.el-picker-panel{
    border: none;
    box-shadow: none;
}
.date-picker .el-date-picker__header-label,
.date-picker .el-picker-panel__icon-btn,
.date-picker .el-year-table td .cell,
.date-picker .el-month-table td .cell{
    color: #fff;
}
.date-picker .el-date-picker__header-label:hover,
.date-picker .el-picker-panel__icon-btn:hover{
    color: #bae2ff;
}
.date-picker .el-year-table td .cell:hover,
.date-picker .el-month-table td .cell:hover{
    background: #20a0ff;
    text-decoration: none;
}

/*设置placeholder颜色*/
::-webkit-input-placeholder {
    color: #fff !important;
}

/*修改loading样式*/
.el-loading-spinner .el-loading-text {
    color: #fff !important;
}
.el-loading-mask {
    background-color: transparent !important;
}
.el-loading-spinner .path{
    stroke: #fff !important;
}

/*浏览器分辨率兼容处理*/
@media screen and (max-width: 1366px) and (max-height: 768px) {
    body{
        min-height: 768px;
    }
    header{
        height: 120px !important;
    }
    .search-wrap .content-wrap,
    .relation-wrap .content-wrap,
    .high-search-wrap .content-wrap{
        transform: scale(.85);
    }
    .main-wrap .content-wrap{
        height: 530px !important;
    }
    .el-dialog{
        transform: scale(.7);
        left: 24%;
        top: calc((100% - 750px)/2) !important;
    }
    .main-wrap .open-wrap{
        transform: scale(.8);
    }
    .main-wrap .content-wrap .nav{
        height: 100px;
    }
    .main-wrap .content-wrap .nav .move-ico{
        top: 7px !important;
    }
    .main-wrap .menu{
        top: 190px !important;
    }
    .main-wrap .menu li{
        width: 182px !important;
        height:  42px !important;
    }
    .main-wrap .menu li .menu-label{
        width: 184px !important;
        height:  58px !important;
        font-size:  20px !important;
    }
    .main-wrap .menu li.active,
    .main-wrap .menu li:hover{
        width: 204px !important;
    }
    .main-wrap .menu li.active .menu-label,
    .main-wrap .menu li:hover .menu-label{
        width: 208px !important;
    }
    .ent-info .collection-wrap{
        top: 125px !important;
    }
    .find-relation.el-select-dropdown{
        top: 380px !important;
    }
}