.titleBar{
    margin-bottom:5px;
}
.titleBar span{
    font-size: 14px;
    height:14px;
    line-height:14px;
    color: #cdcdd0;
}
.titleBar i{
    margin-right:6px;
    height:15px;
    width:1px;
    border:1px solid #2a56af;
    background:#1f3973;
}
table{
    width: 100%;
    border-collapse: separate;
    border-spacing:0 4px;
}
.boot-page {
    width: 100%;
    flex-direction: column;
    display: flex;
}
.overflowAuto{
    box-sizing: border-box;
    flex: 1;
    overflow: auto;
    /*height:424px;*/
    padding-right: 5px;
}
.overflowAuto:hover::-webkit-scrollbar-thumb{
    background:rgba(7,100,180,1)
}
.pageWrap{
    overflow: hidden;
    margin-top:10px;
}
/* 弹窗样式 */
.dialog-con{
    max-height:600px;
    overflow:auto;
    overflow-x:hidden;
}
.dialog-con:hover::-webkit-scrollbar-thumb{
    background:rgba(7,100,180,1);
}
.dialog-item{
    color:#fff;
    margin-left:26px;
    margin-bottom:28px;
    margin-right: 30px;
}
.dialog-item .item-name{
    margin-bottom:8px;
}
.dialog-item .item-name span{
    height:15px;
    line-height:15px;
    font-size: 14px;
}
.dialog-item .item-name i{
    margin-left:1px;
    margin-right:6px;
    height:15px;
    width:2px;
    background:#00c2ff;
}
.dialog-item .item-value{
    display:block;
    word-wrap: break-word;
}
.dialog-con  .dialogImg{
    margin:10px 0 40px;
    text-align: center;
}
.dialog-con  .dialogImg img{
    width:130px;
    height: 67px;
}
/*.div-dataList{*/
    /*box-sizing: border-box;*/
    /*height: 425px;*/
    /*width:100%;*/
    /*overflow: auto;*/
    /*overflow-x: hidden;*/
    /*padding-right: 5px;*/
/*}*/
/*.div-dataList:hover::-webkit-scrollbar-thumb{*/
    /*background:rgba(7,100,180,1)*/
/*}*/
/*.div-pager{*/
    /*height: 10px;*/
/*}*/
