tr th{
    height:34px;
    background:rgba(40,92,198,0.35);
    color:#cdd2de;
    border-top:1px solid #284f9d;
    border-bottom:1px solid #284f9d;
    padding:0 20px;
    text-align: left;
}
tr th:first-child{
    text-align: center;
}
tr td{
    vertical-align: top;
    height:34px;
    background:rgba(88,143,255,0.15);
    color:#fff;
    border:1px solid #325eb2;
    box-sizing: border-box;
    border-left:none;
    border-right:none;
    text-align: left;
    padding: 6px 20px;
}
tr:hover td{
    background: rgba(40,92,198,0.35);
}
.firstTd{
    text-align: center;
    border-left:1px solid #1e417a;
}
.lastTd{
    border-right:1px solid #1e417a;
}
tr:hover .firstTd{
    border-left:1px solid #1e417a;
}
tr:hover .lastTd{
    border-right:1px solid #1e417a;
}
.overflowAuto table tr:hover{
    cursor: pointer;
}
