.recruit-box tr th{
    height:34px;
    background:rgba(40,92,198,0.35);
    color:#cdd2de;
    border-top:1px solid #284f9d;
    border-bottom:1px solid #284f9d;
    padding:0 20px;
    text-align: left;
}
.recruit-box tr th:first-child{
    text-align: center;
}
.recruit-box tr td{
    height:34px;
    background:rgba(88,143,255,0.15);
    color:#fff;
    border:1px solid #325eb2;
    box-sizing: border-box;
    border-left:none;
    border-right:none;
    text-align: left;
    padding:0 20px;
    vertical-align: middle;
}
.recruit-box tr:hover td{
    background: rgba(40,92,198,0.35);
    border:1px solid #325eb2;
    border-right:none;
    border-left:none;
}
.recruit-box .firstTd{
    text-align: center;
    border-left:1px solid #1e417a;
}
.recruit-box .lastTd{
    border-right:1px solid #1e417a;
}
.recruit-box tr:hover .firstTd{
    border-left:1px solid #325eb2;
}
.recruit-box tr:hover .lastTd{
    border-right:1px solid #325eb2;
}
.recruit-box .lastSpan{
    border-right: none;
    text-align: left;
    text-decoration: underline;
    cursor: pointer;
}
.recruit-box .firstTh{
    border-left:1px solid #284f9d;
}
.recruit-box .lastTh{
    border-right:1px solid #284f9d;
}
.recruit-box .overflowAuto table tr:hover{
    cursor: pointer;
}