/* 弹窗样式 */
.dialog-con{
    max-height:600px;
    overflow:auto;
    overflow-x:hidden;
}
.dialog-con:hover::-webkit-scrollbar-thumb{
    background:rgba(7,100,180,1);
}
.dialog-item{
    color:#fff;
    margin-left:26px;
    margin-bottom:28px;
    margin-right: 30px;
}
.dialog-item .item-name{
    margin-bottom:8px;
}
.dialog-item .item-name span{
    height:15px;
    line-height:15px;
    font-size: 14px;
}
.dialog-item .item-name i{
    margin-left:1px;
    margin-right:6px;
    height:15px;
    width:2px;
    background:#00c2ff;
}
.dialog-item .item-value{
    display:block;
    word-wrap: break-word;
}