.business-tabel tr th{
    height:34px;
    background:rgba(40,92,198,0.35);
    color:#cdd2de;
    border-top:1px solid #284f9d;
    border-bottom:1px solid #284f9d;
    padding:0 10px;
    text-align: left;
}
.business-tabel tr th:first-child{
    text-align: center;
}
.business-tabel tr td{
    height:34px;
    background:rgba(88,143,255,0.15);
    color:#fff;
    border:1px solid #325eb2;
    box-sizing: border-box;
    border-left:none;
    border-right:none;
    text-align: left;
    padding:0 10px;
    line-height:22px;
}
.business-tabel tr:hover td{
    background: rgba(40,92,198,0.35);
}
.business-tabel tr .firstTd{
    border-left:1px solid #1e417a;
    text-align: center;
    padding:0 10px;
}
.business-tabel tr .lastTd{
    border-right:1px solid #1e417a;
}
.business-tabel tr:hover .firstTd{
    border-left:1px solid #1e417a;
}
.business-tabel tr:hover .lastTd{
    border-right:1px solid #1e417a;
}
.business-tabel .firstTh{
    border-left:1px solid #284f9d;
}
.business-tabel .lastTh{
    border-right:1px solid #284f9d;
}